.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-client-1 {
  width: 28px;
  height: 32px;
  background-position: 0 0;
}
.icon-client-2 {
  width: 25px;
  height: 32px;
  background-position: 0 -32px;
}
.icon-client-3 {
  width: 34px;
  height: 32px;
  background-position: 0 -64px;
}
.icon-client-4 {
  width: 65px;
  height: 32px;
  background-position: 0 -96px;
}
.icon-client-5 {
  width: 43px;
  height: 32px;
  background-position: 0 -128px;
}
.icon-client-6 {
  width: 57px;
  height: 32px;
  background-position: 0 -160px;
}
.icon-envelope {
  width: 43px;
  height: 32px;
  background-position: 0 -192px;
}
.icon-facebook-icon {
  width: 32px;
  height: 32px;
  background-position: 0 -224px;
}
.icon-instagram-icon {
  width: 32px;
  height: 32px;
  background-position: -32px -224px;
}
.icon-linkedin-icon {
  width: 32px;
  height: 32px;
  background-position: 0 -256px;
}
.icon-smartphone {
  width: 20px;
  height: 32px;
  background-position: -32px -256px;
}
.icon-twitter-icon {
  width: 32px;
  height: 32px;
  background-position: 0 -288px;
}

